/* Global Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1400px;
    margin: auto;
    width: 100%;
    padding: 0 20px;
}
