/* Header Styles */

header {
    background-color: var(--color-principal);
}

header .logo {
    background-color: var(--font-color);
    color: var(--color-secundario);
    padding: 25px 30px;
    font-weight: bold;
    font-size: var(--font-size-h1);
}

.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 15px 0;
}

.logo-img {
    height: 70px;
    width: auto;
    object-fit: contain;
    transition: transform 0.3s;
    margin-right: 20px;
}

.logo-img:hover {
    transform: scale(1.05);
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

header nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

header a {
    padding: 15px 12px;
    text-decoration: none;
    font-weight: bold;
    color: var(--color-secundario);
}

header a:hover {
    color: var(--font-color);
}
